<h2>Available drones</h2>

{{#each allDrones}}

    <h2>{{this.name}}</h2>
    <p>Propellers: {{this.propellers}}</p>
    <p>Max Speed: {{this.maxSpeed}}</p>

    <a href="/drones/{{this.id}}/edit">
    <button>Edit Drone</button>
    </a>

    <form action="/drones/{{this.id}}/delete" method="post">
    <button>Destroy the Drone</button>
    </form>

{{/each}}